
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Mul</title>
</head>
<body>
	<p>Controller: Calc</p> <br />
	<p>Result of method Mul: @Model</p>
</body>
</html>
